# Estudos Pandas - Part2

### DataFrame: Criação e Indexação
Dataframe é uma tabela que você consegue acessar de acordo com os atributos

A indexação é uma forma mais eficiente de organizar e encontrar arquivos etc numa base de dados

In [2]:
import pandas as pd
import numpy as np

In [6]:
# Criando um dataframe - parametros para criar o dataframe. 1° Dados(Conjunto de informações) 
# / 2° Index(digamos que seja o nome das linhas) / 3° Nomes das Colunas
# O index é gerado automaticamente começando do 0, então não é obrigatorio colocar

# Criando um array bidimencional para depois tranformar em um dataframe
dados = np.array([[72, 180, 26], [80, 170, 19], [60, 165, 15]])
# Dataframe
df = pd.DataFrame(data=dados, columns=['Peso', 'Altura', 'Idade'])
df

   Peso  Altura  Idade
0    72     180     26
1    80     170     19
2    60     165     15

### Indexação

In [7]:
# acessando uma coluna 
df['Altura']

0    180
1    170
2    165
Name: Altura, dtype: int32

In [9]:
# Acessando as linhas
df.loc[1]

Peso       80
Altura    170
Idade      19
Name: 1, dtype: int32

In [10]:
# Acessando elementos especificos por coluna
df['Altura'][1]

170

In [11]:
# Acessando elementos especificos por linhas
df.loc[1]['Altura']

170

In [12]:
# Acessando duas colunas ao mesmo tempo
df[['Peso', 'Idade']]

   Peso  Idade
0    72     26
1    80     19
2    60     15

In [13]:
# Permitindo acessar o indices usando somente numeros
df.iloc[2][1]

165