# Estudos Pandas
Pandas oferece ferramentas de alta performance para análise de dados e estruturdas de dados

O Pandas trás um objeto chamado dataframe que permite que a gente visualize tabelas e manipulem os dados

In [30]:
 # Importando as bibliotecas
import numpy as np
import pandas as pd

# Series

In [31]:
# Criando um Series - é um pedaço do dataframe (linha ou coluna)
steps = pd.Series([4216, 3867, 7934, 4180, 5344])
steps

0    4216
1    3867
2    7934
3    4180
4    5344
dtype: int64

In [32]:
type(steps)

pandas.core.series.Series

In [33]:
# Retornando os dados da minha series - os indeces por pardão começam no 0
steps.values

array([4216, 3867, 7934, 4180, 5344], dtype=int64)

In [34]:
# Identificando os indices da minha series
steps.index

RangeIndex(start=0, stop=5, step=1)

In [35]:
# Criando um series e definindo o index
steps = pd.Series(data=[4216, 3867, 7934, 4180, 5344], index=['seg', 'ter', 'qua', 'qui', 'sex'])
steps

seg    4216
ter    3867
qua    7934
qui    4180
sex    5344
dtype: int64

In [36]:
# É possivel fazer operações do Numpy com as series
print(steps * 2)
print(np.sqrt(steps))
print(steps.mean())
print(steps.sum())

seg     8432
ter     7734
qua    15868
qui     8360
sex    10688
dtype: int64
seg    64.930732
ter    62.185207
qua    89.073004
qui    64.652920
sex    73.102668
dtype: float64
5108.2
25541

# Series
Series: indexação, operações e Máscaras

Series

In [37]:
# Criando um dicionario e depois criando uma series e colocando o dicionario como parametro
dic = {'Python': 3, 'JavaScript': 9, 'Matlab': 10}
series = pd.Series(dic)
series

Python         3
JavaScript     9
Matlab        10
dtype: int64

### Indexação

In [38]:
st = 'A B C D E F J H I J K'.split()
st

['A', 'B', 'C', 'D', 'E', 'F', 'J', 'H', 'I', 'J', 'K']

In [42]:
# Criando um series / o primeiro parametro são os dados e o segundo o index(indice)
# Passei como parametro no meu index uma string e fatiei com split para separar cada caracter com virgula
s = pd.Series(data=np.random.randint(1,5,10), index='A B C D E F J H I J'.split())
s

A    1
B    4
C    4
D    4
E    4
F    2
J    4
H    3
I    4
J    2
dtype: int32

In [45]:
# Indexação - você pode localizar o dado tanto pela posição quanto pela string do index
s[0]
s['A']

1

In [46]:
s[2:4]

C    4
D    4
dtype: int32

In [47]:
s['C':'D']

C    4
D    4
dtype: int32

In [48]:
s['A':]

A    1
B    4
C    4
D    4
E    4
F    2
J    4
H    3
I    4
J    2
dtype: int32

In [49]:
series['Python': 'JavaScript']

Python        3
JavaScript    9
dtype: int64

### Operações

In [50]:
s1 = pd.Series(data=np.random.randint(1,100,3), index='Facebook Instagram Youtube'.split())

In [55]:
s2 = pd.Series(data=np.random.randint(1,100,3), index='Zoom Telegram Youtube'.split())

In [56]:
s1

Facebook     78
Instagram    79
Youtube      27
dtype: int32

In [57]:
s2

Zoom        44
Telegram    58
Youtube     20
dtype: int32

In [58]:
s1 + s2

Facebook      NaN
Instagram     NaN
Telegram      NaN
Youtube      47.0
Zoom          NaN
dtype: float64

In [59]:
s1 - s2

Facebook     NaN
Instagram    NaN
Telegram     NaN
Youtube      7.0
Zoom         NaN
dtype: float64

### Máscaras

In [60]:
s

A    1
B    4
C    4
D    4
E    4
F    2
J    4
H    3
I    4
J    2
dtype: int32

In [61]:
s[s>2]

B    4
C    4
D    4
E    4
J    4
H    3
I    4
dtype: int32

In [63]:
s[s>2].index

Index(['B', 'C', 'D', 'E', 'J', 'H', 'I'], dtype='object')